.deleteNote {
    height: 25px;
}
.noteText, .existing {
    flex-grow: 1;
}
.noteText input {
    background-color: transparent;
    height: 25px;
    font-size: 18px;
    border-bottom: 1px solid white;
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    outline: none;
}

.noteItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.newNote {
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px 3px #001;
    padding: 0px 10px 20px;
    margin-top: 10px;
}

.hidden {
    display: none;
}